- @tweets.each do |tweet|
  %p
  %div
    = link_to gravatar_for(tweet.user, size: 52), tweet.user
    = tweet.user.name
  %strong Tweet:
  = wrap(tweet.tweet)
  = link_to 'Read', [tweet.user, tweet]
  %p
    %strong Posted :
    = time_ago_in_words(tweet.created_at)
    ago.
  %hr/