= simple_form_for([@user, @user.tweets.build]) do |f|
  - if @tweet.errors.any?
    #error_explanation
      %h4
        = pluralize(@tweet.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @tweet.errors.full_messages.each do |msg|
          %li= msg
  
  = f.input :tweet
  .col-md-4.col-md-offset-4
    = f.button :submit, class: 'btn btn-sm btn-primary'