= simple_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h4
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :surname
  = f.input :email
  = f.input :bio
  .col-md-4.col-md-offset-4 
    = f.button :submit, class: 'btn btn-sm btn-primary'