= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h4
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    %strong Name : 
    #{f.text_field :name}
  %p
    %strong Surname : 
    #{f.text_field :surname}
  %p
    %strong E-mail : 
    #{f.text_field :email}
  %p
    %strong Bio : 
    #{f.text_area :bio}
  %p
    = f.submit class: 'btn btn-sm btn-primary'