%h1 User list
= link_to 'New user', signup_path
%table{:style => "padding-left: 20%"}
  %thead
    %tr
      %th= User.human_attribute_name(:name)
      %th= User.human_attribute_name(:surname)
      %th= User.human_attribute_name(:email)
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.surname
        %td= user.email
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Show', user_path(user)
        %td= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure delete this user?"}