!!!
%html
  %head
    %title Arzuhal
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div{:style => "text-align: center"}
      %h1 Arzuhal
      = link_to 'Home', home_path
      = link_to 'User Management', users_path
      = yield