!!!
%html
  %head
    %title Arzuhal
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            = link_to 'Home', root_path
          %li
            = link_to 'About', about_path
          %li
            = link_to 'Help', help_path
          %li
            = link_to 'Contact', contact_path 
          %li
            = link_to 'Sign Up', signup_path
          %li
            = link_to 'Sign In', '#'
          %li
            = link_to 'User Management', users_path   
        %h3.text-muted 
          = link_to 'Arzuhal', root_path
      %hr
      - if flash.count > 0
        - flash.each do |name, msg|
          - if name == 'notice' 
            - name = 'success'
          %div{class: "alert alert-#{name}"}
            %a.close{'data-dismiss' => 'alert', :href => '#'} &times;
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield 
      %footer.footer
        %small
          %a{:href => "http://ismailakbudak.com/blog"} Blog
          by Ismail Akbudak
        %nav
          %ul
            %li= link_to "About",   about_path
            %li= link_to "Contact", contact_path
      = debug(params) if Rails.env.development?
